List((
    texture_width: 5,
    texture_height: 5,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 5,
            height: 5,
        ),
        (
            x: 0,
            y: 3,
            width: 5,
            height: 1,
            offsets: Some((-2.5, 0.0)), // Offset to the centre of the sprite is the left end of it.
        ),
        (
            x: 0,
            y: 3,
            width: 1,
            height: 1,
            offsets: Some((0.0, -0.5)),
        ),
    ]
))
